<div class="jumbotron">
  <div class="container">
    <h3 class="top-brand col-md-4 col-lg-4 col-sm-6">
      <span>{{welcome.CONFIG_DB.brand_name}}</span>
      <small>Chris&nbsp;Topaloudis</small>
    </h3>
    <h2 class="col-md-8 col-lg-8 col-sm-6 pull-right">
      <ul class="cv-list">
        <li ng-repeat="btn in welcome.cvButtons" >
          <a href="https://{{btn.url}}" title="{{btn.title}}" target="_blank">
            <i class="fa fa-{{btn.icon}}"></i></a>
        </li>
      </ul>
    </h2>
  </div>
</div>
