@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.top-brand {
  font-family: 'Press Start 2P', cursive;
}

.cv-list {

  li {
    a {
      
    }

    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}
